#experience .container {
  text-align: left;
}


// Support for "dark" sections
section.-dark .experience {
  &__elem {
    @include themed() {
      border-top: 1px solid rgba(t($text-color-secondary), 0.2);
    }
  }
  &__periods {
    @include themed() {
      color: rgba(t($text-color-secondary), 0.7);
    }
  }

  h6 {
    @include themed() {
      color: rgba(t($text-color-secondary), 0.5);
    }
  }

  svg {
    @include themed() {
      color: rgba(t($text-color-secondary), 0.9);

      &:hover {
        color: t($text-color-secondary);
      }
    }
  }
}

.experience {
  list-style: none;
  padding: 0;

  &__elem {
    padding: 1.5em 0;
    @include themed() {
      border-top: 1px solid rgba(t($text-color), 0.2);
    }

    &:hover {
      span {
        @include opacity(100);
      }
    }
  }

  &__periods {
    @include make-col(4);
    margin-top: .45em;
    text-align: right;
    @include font-size(1.15rem);
    font-weight: 700;
    @include themed() {
      color: rgba(t($text-color), 0.7);
    }
    span {
      // Keep periods e.g. Jan 19 on the same line
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }

  &__img {
    @include make-col(4);
  }

  &__info {
    @include make-col(8);

    svg {
      width: 100%;
      height: auto;
      @include themed() {
        color: rgba(t($text-color), 0.9);

        &:hover {
          color: t($text-color);
        }
      }
      padding: 0 1em 1em;
    }

    h5 {
      @include font-size(1.5rem);
      line-height: 1.5;
      font-weight: 700;
    }
    h6 {
      @include font-size(0.9rem);
      @include themed() {
        color: rgba(t($text-color), 0.5);
      }
      font-weight: 600;
      letter-spacing: -0.4px;
      line-height: 1.5;
      text-transform: uppercase;

      span {
        @include opacity(0);
        transition: opacity 0.2s ease-in-out;
      }
    }
  }
  p {
    @include font-size(1rem);
    font-weight: 500;
    margin-top: 0.3em;
    line-height: 1.5;
  }
}
