// Increased specififity section footer
.section.conversation {
  @include themed() {
    color: t($text-color);
  }
  .container {
    padding-top: 30vh;
    padding-bottom: 15vh;
  }
}
.conversation {
  &__line {
    font-weight: 600;
    @include themed() {
      color: t($muted-color);
    }
  }
}


footer {
  text-align: center;
  padding-bottom: 2rem;

  .logo {
    padding-top: 2rem;
    @include themed() {
      color: t($muted-color);
    }
  }
}
