.hero {
    z-index: 4;
    left: 0;
    top: 0;
    width: 100%;
    padding-top: 0;
    padding-bottom: 0;
    > .container {
        position: relative;
    }
}
.section.hero-sub {
    z-index: 3;
    width: 100%;
    position: relative;
    padding-top: 200px;
    padding-bottom: 270px;
    color: black;
    text-align: left;
    background: $body-bg;
    overflow: hidden;

    .background {
        position: absolute;
        z-index: 0;

        width: 100%;
        height: 100%;
        top: 0;
        bottom: 0;
        right: -300px;
        left: initial;

        background: 50% 50% no-repeat;
        background-image: url('../assets/index/HAILS.png');
        @include background-size(contain);
        background-position: bottom;
        @include opacity(70);

        animation: fadein 5s ease-in-out;

        @media (max-width: 767px) {
            right: 0;
            top: auto;
            left: -50%;
            width: 200%;
            height: 130%;
        }
    }
    .mouse {
        overflow: hidden;
        z-index: 5;
        position: absolute;
        left: 50%;
        bottom: 100px;
        width: 24px;
        margin: -12px;
        height: 50px;
        border: 2px solid $body-bg-inverse;
        border-radius: 30px;
        @include opacity(30);

        &:after {
          display: block;
          content: "";
          position: absolute;
          left: 12px;
          top: 10px;
          width: 3px;
          height: 4px;
          margin-left: -3px;
          background-color: $body-bg-inverse;
          border-radius: 2px;
          animation: mouse-wheel 5s cubic-bezier(0.77, 0, 0.175, 1) infinite;
        }
    }
    @media (max-width: 991px) {
        padding-top: 100px;
        padding-bottom: 170px;
    }
    .hero-unit {
        margin: 0;
        padding: 0;
        background: transparent;

        h1 {
            font-size: 100px;
            letter-spacing: -2px;
            font-family: "Lato";
            font-weight: lighter;
            @media (max-width: 991px) {
                display: block;
            }
            @media (max-width: 767px) {
                font-size: 70px;
            }
            @media (max-width: 375px) {
                font-size: 40px;
            }
            strong {
                font-size: 150px;
                font-family: "Jaapokki Enchance";
                //font-weight: 800;
                color: $pomegranate;
                @media (max-width: 767px) {
                    font-size: 100px;
                }
                @media (max-width: 375px) {
                    font-size: 60px;
                }
            }
        }
        p {
          font-size: 30px;
          letter-spacing: -1px;
          text-align: left;
          font-weight: 300;
          width: 100%;
          @media (max-width: 991px) {
              display: block;
          }
        }
        @media (max-width: 991px) {
            text-align: center;
        }
        @media (max-width: 375px) {
            margin-top: 50px;
        }
    }
}
