.hero {
    z-index: 4;
    left: 0;
    top: 0;
    width: 100%;
    padding-top: 0;
    padding-bottom: 0;
    > .container {
        position: relative;
    }
}
.section.hero-sub {
    z-index: 3;
    min-height: 80vh;
    position: relative;
    padding-top: 20vh;
    @include themed() {
      background: t($bg);
      color: t($text-color);
    }
    overflow: hidden;

    .background {
        position: absolute;
        z-index: 0;
        max-width: 100%;
        max-height: 100%;
        bottom: 0;
        left: initial;

        animation: fade-in-70 5s ease-in-out;
        @include opacity(70);

        @include media-breakpoint-down(md) {
          right: 0;
          top: auto;
          max-height: 130%;
          animation: fade-in-30 5s ease-in-out;
          @include opacity(30);
        }

        img {
          max-height: 100%;
          @include media-breakpoint-down(md) {
            margin-left: -50%;
          }
        }
    }
    .mouse {
        overflow: hidden;
        z-index: 5;
        position: absolute;
        left: 50%;
        bottom: 100px;
        width: 24px;
        margin: -12px;
        height: 50px;
        @include themed() {
          border: 2px solid t($text-color);
        }

        border-radius: 30px;
        @include opacity(30);

        &:after {
          display: block;
          content: "";
          position: absolute;
          left: 12px;
          top: 10px;
          width: 3px;
          height: 4px;
          margin-left: -3px;
          @include themed() {
            background-color: t($text-color);
          }
          border-radius: 2px;
          animation: mouse-wheel 5s cubic-bezier(0.77, 0, 0.175, 1) infinite;
        }

        &:hover {
          @include opacity(75);
        }

        &:active {
          @include scale(1.1);
        }
    }
    @media (max-width: 991px) {
        padding-top: 100px;
        padding-bottom: 170px;
    }
    .hero-unit {
        margin: 0;
        padding: 0;
        background: transparent;
        text-align: left;

        h1 {
            @include font-size(10rem);
            letter-spacing: -2px;
            font-family: "Jaapokki Enchance", $font-family-base;
            @include themed() {
              color: t($pop);
            }

            @media (max-width: 991px) {
                display: block;
            }

            .small {
              font-family: $font-family-base;
              font-weight: lighter;
              @include themed() {
                color: t($text-color);
              }
            }
        }
        p {
          @include font-size(1.5em);
          letter-spacing: -1px;
          text-align: left;
          font-weight: 300;
          margin: 0 auto;
          margin-bottom: .5em;
          line-height: 1.3em;

          @media (max-width: 767px) {
              width: 80%;
          }

          @media (max-width: 991px) {
              display: block;
          }
        }

        a {
          @extend %boxed-link;
        }
        @media (max-width: 991px) {
            text-align: center;
        }
        @media (max-width: 375px) {
            margin-top: 50px;
        }
    }
}
