// Separator Styles //
@mixin separator {
  content: '';
  position: absolute;
}

// Separator Arrow //
.separator-arrow {
  &:before, &:after {
    @include separator;
    bottom: -1px;
    width: 50%;
    z-index: 4;
    @include themed() {
      border-bottom: 10vh solid t($bg);
    }

    @include rotate(0.000001deg);
  }

  &:before {
    right: 50%;
    border-right: 100vw solid transparent;
    border-left: 100vw solid;
  }
  &:after {
    left: 50%;
    border-right: 100vw solid;
    border-left: 100vw solid transparent;
  }

  &.inverse:before, &.inverse:after {
    @include themed() {
      border-bottom: 20vh solid t($bg-secondary) !important;
    }
  }
}

// Skew //
@mixin separator-skew
{
    @include separator;
    background: inherit;
    width: 100%;
    height: 40vh; // Sections have padding of 10vh, 40 assumes some content
    z-index: 1;
    left: 0;
    right: 0;
}

.separator-skew-top-left, .separator-skew-top-right {
  margin-top: 10vh;
}

.separator-skew-top-left::before
{
  @include separator-skew;
  z-index: -1;
  top:0;
  transform-origin: right top;
  transform: skewY(3deg);
}
.separator-skew-top-right::before
{
  @include separator-skew;
  z-index: -1;
  top:0;
  transform-origin: left top;
  transform: skewY(-3deg);
}

.separator-skew-bottom-left, .separator-skew-bottom-right {
  margin-bottom: 10vh;
}

.separator-skew-bottom-left::after{
  @include separator-skew;
  z-index: -1;
  bottom: 0;
  transform-origin: right bottom;
  transform: skewY(-3deg);

}

.separator-skew-bottom-right:after{
  @include separator-skew;
  z-index: -1;
  bottom: 0;
  transform-origin: left bottom;
  transform: skewY(3deg);
}
