// Generic Sections //
.section {
  position: relative;
  @include themed() {
    background: t($bg);
    color: t($text-color);
  }

  &__spaced > .container {
    padding-top: 10vh;
    padding-bottom: 10vh;
  }
  
  // Colors //
  &.-dark {
    @include themed() {
      color: t($text-color-secondary);
      background: t($bg-secondary);
    }
  }

  h2 {
      letter-spacing: -2px;
      &.-dark {
        @include themed() {
          color: t($bg);
        }
      }

      &.contrast {
        @include themed() {
          color: t($pop-text);
        }
      }

      &.adapt-text {
          position: absolute;
          position: relative;
          left: 50%;
          width: 600px;
          margin: 0 0 0 -190px;
          text-align: left;
          @media (max-width: 767px) {
              top: -50px; // TODO: Find out what causes this to happen, or change back to relative.
              width: 300px;
              margin-left: -110px;
          }
      }
  }
  .btn {
      @include font-size(1.5rem);
      font-weight: 500;
      margin: 0 0 55px;
      padding: 15px 46px;
  }
}

@import 'Section.Separator';
