// Generic Sections //
.section {
  position: relative;
  background: $body-bg;

  > .container {
    padding-top: 10vh;
    padding-bottom: 10vh;
    text-align: center;
  }

  // Colors //
  &.dark {
    color: $inverse;
    background: $body-bg-inverse;
  }

  &.contrast {
      color: $inverse;
      background: $primary;
  }

  h2 {
      letter-spacing: -2px;
      &.dark, &.contast {
        color: $inverse;
      }

      &.adapt-text {
          position: absolute;
          position: relative;
          left: 50%;
          width: 600px;
          margin: 0 0 0 -190px;
          text-align: left;
          @media (max-width: 767px) {
              top: -50px; // TODO: Find out what causes this to happen, or change back to relative.
              width: 300px;
              margin-left: -110px;
          }
      }
  }
  .btn {
      font-size: 22px;
      font-weight: 500;
      margin: 0 0 55px;
      padding: 15px 46px;
  }
}

@import 'Section.Separator';
