@mixin keyframe-fade-in($end) {
  0%   { @include opacity(0); visibility: visible; }
  100% { @include opacity($end) }
}

@mixin fadein($end-opacity) {
  @-moz-keyframes fade-in-#{$end-opacity}{
    @include keyframe-fade-in($end-opacity);
  }
  @-webkit-keyframes fade-in-#{$end-opacity}{
    @include keyframe-fade-in($end-opacity);
  }
  @-o-keyframes fade-in-#{$end-opacity}{
    @include keyframe-fade-in($end-opacity);
  }
  @-ms-keyframes fade-in-#{$end-opacity}{
    @include keyframe-fade-in($end-opacity);
  }
  @keyframes fade-in-#{$end-opacity}{
    @include keyframe-fade-in($end-opacity);
  }
}

@include fadein(100);
@include fadein(70);
@include fadein(30);

@mixin keyframe-fade-out() {
  0%   { @include opacity(100); visibility: visible; }
  99%  { @include opacity(0) }
  100% { @include opacity(0); visibility: hidden; }
}

@-moz-keyframes fade-out{
  @include keyframe-fade-out;
}
@-webkit-keyframes fade-out{
  @include keyframe-fade-out;
}
@-o-keyframes fade-out{
  @include keyframe-fade-out;
}
@-ms-keyframes fade-out{
  @include keyframe-fade-out;
}
@keyframes fade-out{
  @include keyframe-fade-out;
}

@keyframes mouse-wheel {
  0% {
    transform: translateY(0);
    opacity: 0;
  }
  10% {
    transform: translateY(0);
    opacity: 1;
  }
  30% {
    transform: translateY(0);
    height: 4px;
  }
  50% {
    transform: translateY(0);
    height: 10px;
  }
  70% {
    transform: translateY(5px);
    height: 4px;
    opacity: 1;
  }
  90% {
    opacity: 0;
  }
  100% {
    transform: translateY(5px);
    opacity: 0;
  }
}
