//
// Variables
// --------------------------------------------------

// == Colors
$turquoise:       #1abc9c;
$green-sea:       #16a085;
$emerald:         #2ecc71;
$nephritis:       #27ae60;
$peter-river:     #3498db;
$belize-hole:     #2980b9;
$amethyst:        #9b59b6;
$wisteria:        #8e44ad;
$wet-asphalt:     #34495e;
$midnight-blue:   #2c3e50;
$sun-flower:      #f1c40f;
$orange:          #f39c12;
$carrot:          #e67e22;
$pumpkin:         #d35400;
$alizarin:        #fb544d;
$pomegranate:     #c0392b;
$clouds:          #e4ebee;
$silver:          #bdc3c7;
$concrete:        #95a5a6;
$asbestos:        #7f8c8d;
$darkness:        #1b1f23;

// Body
$body-bg:         $clouds;
$body-bg-inverse: $darkness;

// Grays
$gray:            $asbestos;
$gray-light:      $silver;
$inverse:         $clouds;

// Brand colors
$primary:   $pomegranate;
$secondary: $turquoise;
$success:   $emerald;
$warning:   $sun-flower;
$danger:    $darkness;
$info:      $peter-river;

$text-color:       $darkness;
$link-color:       $primary;
$link-hover-color: darken($primary, 20%);

// Font
$font-family-base:          "Lato", Helvetica, Arial, sans-serif;
$font-family-monospace:     Monaco, Menlo, Consolas, "Courier New", monospace;
$font-size-base:            18px;

$font-size-h1:              3.875em;
$font-size-h2:              2.889em;
$font-size-h3:              1.66em;
$font-size-h4:              1.611em;
$font-size-h5:              1.556em;
$font-size-h6:              1.333em;

$line-height-base:          1.72222; // 31/18
$line-height-computed:      floor($font-size-base * $line-height-base); // ~31px

$headings-font-family:      inherit;
$headings-font-weight:      700;
$headings-line-height:      1.1;
$headings-color:            inherit;
