// Generic Styles, no classnames or ids may occur here
@import '_typography.scss';
@import '_links.scss';


html {
  scroll-behavior: smooth;
}

body {
  background: $body-bg;
  color: $text-color;
  font-family: $font-family-base;
  font-size: $font-size-base;
  line-height: $line-height-base;
}
