// Generic Styles, no classnames or ids may occur here
@import '_typography.scss';
@import '_links.scss';


html {
  scroll-behavior: smooth;
}

// TODO(DJRHails): Popper.js is causing overflow-x when not visible initially
// https://github.com/popperjs/popper-core/issues/630
.page-wrapper {
  overflow-x: hidden;
}

// Custom styling to remove separator exposing body bg.
@each $theme, $map in $themes {
  body.-t-#{$theme} {
    background: map-get(map-get($themes, $theme), $bg);
  }
}

.btn {
  $btn-height: 80px !default;

  &--outline {
    @include themed() {
      color: tint(t($pop));
      border: 2px solid t($pop);
    }

    text-transform: uppercase;

    &:focus, &.focus {
      @include themed() {
        @include box-shadow(0 0 0 0.2rem rgba(t($pop), 0.3))
      }
    }
  }
  &--diagonal {
    position: relative;
    overflow: hidden;

    &:before {
      content: '';
      z-index: 0;
      @include absolute(0,-50px,0,0);
      transition: 0.5s ease-in-out;
      border-right: 50px solid transparent;
      transform: translateX(-100%);

      @include themed() {
        border-bottom: $btn-height solid t($pop);
      }
    }

    span {
      position: relative;
      z-index: 1;
    }

    &:hover {
      @include themed() {
        color: t($bg);
      }

      &:before {
        transform: translateX(0);
      }
    }

  }
}
