@mixin text-underline-crop($background) {
  text-shadow:  .03em 0 $background,
                -.03em 0 $background,
                0 .03em $background,
                0 -.03em $background,
                .06em 0 $background,
                -.06em 0 $background,
                .09em 0 $background,
                -.09em 0 $background,
                .12em 0 $background,
                -.12em 0 $background,
                .15em 0 $background,
                -.15em 0 $background;
}

@mixin text-underline($color-bg, $color-text) {
  background-image: linear-gradient($color-text, $color-text);
  background-size: 1px 1px;
  background-repeat: repeat-x;
  background-position: 0% 95%;
}

@mixin text-selection($selection) {
  &::selection {
    @include text-underline-crop($selection);

    background: $selection;
  }

  &::-moz-selection {
    @include text-underline-crop($selection);

    background: $selection;
  }
}

@mixin link-underline($background, $text, $selection){
  @include text-underline-crop($background);
  @include text-underline($background, $text);
  @include text-selection($selection);

  color: $text;
  text-decoration: none;

  *,
  *:after,
  &:after,
  *:before,
  &:before {
    text-shadow: none;
  }

  &:visited {
    color: $text;
  }
}

%link-color {
  @include themed {
    color: t($link-color);
  }
}

%link-color-w-hover {
  @extend %link-color;
  &:hover {
    @include themed {
      color: t($link-hover-color);
    }
  }
}

a {
  @extend %link-color-w-hover;
  text-decoration: none;
  @include transition(unquote("color 0.25s, background 0.25s"));
  &:hover {
    text-decoration: none;
  }
}

%boxed-link {
  @extend %link-color;
  position: relative;
  overflow: hidden;
  text-decoration: none;
  font-weight: bold;

  // Can't work over multiple lines
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;

  &:after {
    @include themed {
      background: rgba(t($link-color), 0.25);
    }

    content: "";
    position: absolute;
    left: 12px;
    bottom: -6px;
    width: calc(100% - 8px);
    height: calc(100% - 8px);
    z-index: -1;
    @include skew(-20deg, 0deg);
    transition: 0.35s cubic-bezier(0.25, 0.1, 0, 2.05);
  }
  &:hover:after {
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 100%;
    @include skew(0deg, 0deg);
  }
}
