input,
button,
select,
textarea {
  font-family: $font-family-base;
  font-size: $font-size-base;
}

a {
  color: $link-color;
  text-decoration: none;
  @include transition(unquote("color 0.25s, background 0.25s"));
  &:hover {
    color: $link-hover-color;
    text-decoration: none;
  }
}

// Heading sizes
h1, .h1 { font-size: $font-size-h1 }
h2, .h2 { font-size: $font-size-h2 }
h3, .h3 { font-size: $font-size-h3 }
h4, .h4 { font-size: $font-size-h4 }
h5, .h5 { font-size: $font-size-h5 }
h6, .h6 { font-size: $font-size-h6 }

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  line-height: 1.2em;
}

// H1—H6 specific styling
h1 {
  font-weight: 700;
}

h2 {
  font-weight: 700;
  margin-bottom: 2px;
}

h3 {
  font-weight: 700;
  margin-bottom: 4px;
  margin-top: 2px;
}

h4 {
  font-weight: 500;
  margin-top: 4px;
}

h5 {
  font-weight: 500;
}

h6 {
  font-weight: normal;
}

// Paragraph
p {
  font-size: $font-size-base * 1.286; /* 18px */
  line-height: $line-height-base * 1.399; /* 31px */
}

.lead {
  font-size: $font-size-base * 2; /* 28px */
  line-height: $line-height-base * 1.1895; /* 41px */
  font-weight: 300;
  margin-bottom: 20px;
}

small {
  font-size: 84%; /* 15px */
  line-height: $line-height-base * 1.666; /* 31px */
}

// Blockquote
blockquote {
  position: relative;
  border-left: none;
  padding-left: 19px;

  p {
    font-size: $font-size-base * 1.429;
    line-height: $line-height-base * 1.259;
    font-weight: normal;
    margin-bottom: .4em;
  }
  small {
    font-size: $font-size-base * 1.286;
    line-height: $line-height-base * 1.399;
    font-style: italic;
    color: $text-color;

    &:before {
      content: "";
    }
  }
  &:before {
    position: absolute;
    left: 0;
    width: 3px;
    height: 100%;
    top: 0;
    bottom: 0;
    background-color: #ebedee;
    content: "";
    @include border-radius(2px);
  }
}

@mixin swap-text-color($color) {
  color: $color;
  a {
    &:hover, &:focus { color: mix($color, black, 80%); }
  }
}

// Text colors
.text-primary { @include swap-text-color($brand-secondary) }
.text-success { @include swap-text-color($brand-success) }
.text-danger  { @include swap-text-color($brand-danger) }
.text-warning { @include swap-text-color($brand-warning) }
.text-info    { @include swap-text-color($brand-info) }
.text-inverse { @include swap-text-color($inverse) }
.muted        { @include swap-text-color($gray-light) }
