a {
  color: $link-color;
  text-decoration: none;
  @include transition(unquote("color 0.25s, background 0.25s"));
  &:hover {
    color: $link-hover-color;
    text-decoration: none;
  }
}

@mixin swap-text-color($color) {
  color: $color !important;
  a {
    &:hover, &:focus { color: mix($color, black, 80%) !important; }
  }
}
