.lead {
  font-size: $font-size-base * 2; /* 28px */
  line-height: $line-height-base * 1.1895; /* 41px */
  font-weight: 300;
  margin-bottom: 20px;
}

p {
  @include font-size(1.25rem);
}

@mixin swap-text-color($color) {
  color: $color !important;
  a {
    &:hover, &:focus { color: mix($color, black, 80%) !important; }
  }
}
